<div class="navbar">
    <div class="logo">
        <img id="logo" src="assets/images/logo.png" alt="Logo">
    </div>
    <div class="darkmode">
        <button id="darkmode" (click)="toggleTheme()" type="button" aria-label="Toggle theme">
            <img class="themeIcon"
                [src]="themeService.getTheme()() === 'light' ? 'assets/images/sun.png' : 'assets/images/moon.png'"
                [alt]="themeService.getTheme()() === 'light' ? 'Moon icon' : 'Sun icon'">
        </button>
    </div>
</div>
<div class="loginForm">
    <div class="title">
        <h1>Játék beállítások</h1>
    </div>
    <div class="startField">
        <label for="startField">Kezdő mező:</label>
        <button class="minus" (click)="starFieldDown()">-</button>
        <input type="number" id="startField" formControlName="startField" min="1" max="6" value="1">
        <button class="plus" (click)="startFieldUp()">+</button>
    </div>
    <div class="online">
        <label class="onlineLabel" for="online">Max online üzletek:</label>
        <select class="onlineSelect" id="online" formControlName="online">
            <option value="true">Nincs</option>
            <option value="false">4</option>
        </select>
    </div>
    <div class="startGame">
        <Button class="startGameBtn" (click)="onSubmit()">Indítás</Button>
    </div>
</div>