div {
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

section {
    scroll-margin-top: 40px;
    background-color: var(--bg-form);
    justify-items: center;
    padding: 0px;
    border-radius: 20px;
    margin: 15px;
    margin-top: 35px;
    border: none;
}

p {
    color: var(--form);
    font-size: 18px;
    margin: 2px;
}

h1 {
    color: var(--form);
    height: fit-content;
    width: fit-content;
}

h2 {
    color: var(--form);
    height: fit-content;
    width: fit-content;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 28px;
}

.level {
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    padding: 15px;
    width: 98%;
}

.stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    border-color: var(--border-form);
    border-radius: 20px;
    margin: 10px;
    padding: 12px;
}

.accomodation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-color: var(--border-form);
    border-radius: 20px;
    margin: 10px;
    padding: 12px;
}

.online {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-online);
    width: 100%;
    border-color: var(--border-form);
    border-radius: 20px;
    margin-top: 10px;
    padding: 12px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acList {
    width: 47%;
}

.onlineList {
    width: 18%
}

.lists {
    flex-direction: column;
    align-items: center;
}

.icon {
    height: 100px;
    align-self: center;
}

.info {
    height: 35px;
}

.infoBtn {
    align-self: center;
    background-color: transparent;
    color: var(--button);
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 30px;
    padding: 7px;
    padding-bottom: 3px;
}

.infoBtn:hover {
    background-color: var(--bg-back-hover);
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 55%;
    height: fit-content;
}

.levelText {
    width: 85%;
    align-items: center;
    padding-left: 10px;
}

.detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: fit-content;
    width: 100%;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.onlineText {
    width: 25%;
}

.price {
    margin-top: 4px;
}

.levelDetail {
    width: 75%;
}

.buy {
    display: flex;
    background-color: var(--bg-buy-btn);
    color: var(--form);
    width: fit-content;
    height: fit-content;
    align-items: center;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.buy:hover {
    background-color: var(--bg-buy-btn-hover);
    cursor: pointer;
}

.sell {
    display: flex;
    background-color: var(--bg-sell-btn);
    color: var(--form);
    width: fit-content;
    height: fit-content;
    align-items: center;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.sell:hover {
    background-color: var(--bg-sell-btn-hover);
    cursor: pointer;
}

.btnIcon {
    height: 25px;
    margin-right: 10px;
}

.detailBtn {
    justify-content: center;
}

.stockBuyBtn {
    margin-right: 40px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, var(--bg-gradiant-primary), var(--bg-gradiant-secondary));
    position: sticky;
    top: 0;
    overflow: hidden;
    align-self: left;
    margin: 0px;
    width: 99.7%;
    padding: 0px;
    padding-bottom: 5px;
}

#roll {
    background-color: var(--bg-sp-button);
    color: var(--button);
    font-size: 32px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
}

#roll:hover {
    background-color: var(--bg-sp-button-hover);
    cursor: pointer;
}

#gold {
    background-color: var(--bg-gold);
}

#mine {
    background-color: var(--bg-mine);
}

#chocolate {
    background-color: var(--bg-chocolate);
}

#flat {
    background-color: var(--bg-flat);
}

#flatList {
    margin-top: -17px;
    background-color: var(--bg-list-flat);
    width: 99.5%;
    border-radius: 20px;
    padding-top: 10px;
}

#pansion {
    background-color: var(--bg-pansion);
}

#pansionList {
    margin-top: -17px;
    background-color: var(--bg-list-pansion);
    width: 99.5%;
    border-radius: 20px;
    padding-top: 10px;
}

#basicOnline {
    width: 98%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#backBtn {
    background-color: transparent;
    color: var(--button);
    font-size: 28px;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 30px;
    padding: 7px;
    margin-top: 5px;
}

#backBtn:hover {
    background-color: var(--bg-back-hover);
    cursor: pointer;
}

#onlineBuyBtn {
    margin: 0px;
}

@media (max-width: 1200px) {
    p {
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-content: center;
        padding: 15px;
        width: 90%;
        margin: 10px;
    }

    .cards {
        width: 98%;
        border-color: var(--border-form);
        border-radius: 20px;
        margin: 10px
    }

    .mobileList {
        width: 100%;
    }

    .icon {
        height: 50px;
    }

    .info {
        height: 20px;
    }

    .title {
        font-size: 14px;
    }

    .onlineText {
        width: 55%;
    }

    .stockBuyBtn {
        margin-right: 0px;
    }

    #flatList {
        width: 96%;
    }

    #pansionList {
        width: 96%;
    }

    #backBtn {
        font-size: 20px;
        padding: 0px;
        margin-left: -8px;
    }
}