<div id="navbar">
    <button id="backBtn" (click)="onBack()">〈 Back</button>
</div>
<section id="stocks">
    <div class="title">
        <h1>Részvények</h1>
    </div>
    <div class="container">
        <div id="gold" class="stock cards">
            <img class="icon" src="assets/images/gold.png" alt="Gold Bars">
            <button class="infoBtn" (click)="goldInfo()">
                <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                    alt="Information" class="info">
            </button>
        </div>
        <div id="mine" class="stock cards">
            <img src="assets/images/mine.png" alt="Mine" class="icon">
            <button class="infoBtn" (click)="mineInfo()">
                <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                    alt="Information" class="info">
            </button>
        </div>
        <div id="chocolate" class="stock cards">
            <img src="assets/images/chocolate.png" alt="Chocolate" class="icon">
            <button class="infoBtn" (click)="chocolateInfo()">
                <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                    alt="Information" class="info">
            </button>
        </div>
    </div>
</section>
<section id="accomodations">
    <div class="title">
        <h1>Bérlakás/Panzió</h1>
    </div>
    <div class="container">
        <div class="listContainer acList mobileList">
            <div id="flat" class="accomodation cards">
                <img src="assets/images/building.png" alt="Building" class="icon">
                <button class="infoBtn" (click)="flatInfo()">
                    <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                        alt="Information" class="info">
                </button>
            </div>
            <div *ngIf="showFlat" id="flatList" class="lists"></div>
        </div>
        <div class="listContainer acList mobileList">
            <div id="pansion" class="accomodation cards">
                <img src="assets/images/pansion.png" alt="Guest house" class="icon">
                <button class="infoBtn" (click)="pansionInfo()">
                    <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                        alt="Information" class="info">
                </button>
            </div>
            <div *ngIf="showPansion" id="pansionList" class="lists"></div>
        </div>
    </div>
</section>
<section id="online">
    <div class="title">
        <h1>Online Üzlet</h1>
    </div>
    <div id="onlineContainer" class="container lists">
        <div class="online cards" id="basicOnline">
            <img src="assets/images/online.png" alt="Online Shop" class="icon">
            <button class="infoBtn" (click)="onlineInfo()">
                <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                    alt="Information" class="info">
            </button>
        </div>
        <div id="levels" class="container">
            <div class="listContainer onlineList mobileList">
                <div class="online cards" id="level1"></div>
                <div *ngIf="showLevel1" id="level1List" class="lists bgOnlineList"></div>
            </div>
            <div class="listContainer onlineList mobileList">
                <div class="online cards" id="level2"></div>
                <div *ngIf="showLevel2" id="level2List" class="lists bgOnlineList"></div>
            </div>
            <div class="listContainer onlineList mobileList">
                <div class="online cards" id="level3"></div>
                <div *ngIf="showLevel3" id="level3List" class="lists bgOnlineList"></div>
            </div>
            <div class="listContainer onlineList mobileList">
                <div class="online cards" id="level4"></div>
                <div *ngIf="showLevel4" id="level4List" class="lists bgOnlineList"></div>
            </div>
            <div class="listContainer onlineList mobileList">
                <div class="online cards" id="level5"></div>
                <div *ngIf="showLevel5" id="level5List" class="lists bgOnlineList"></div>
            </div>
        </div>
    </div>
</section>