<div id="navbar">
    <button id="backBtn" (click)="onBack()">〈 Back</button>
    <button id="roll" (click)="roll()">Dobás</button>
</div>
<section id="stocks">
    <div class="title">
        <h1>Részvények</h1>
    </div>
    <div class="container">
        <div id="gold" class="stock cards">
            <img class="icon" src="assets/images/gold.png" alt="Gold Bars">
            <div class="text">
                <h2>Arany</h2>
                <div class="detail">
                    <p class="title">Vételár:</p>
                    <p id="goldPrice" class="price"></p>
                </div>
                <div class="detail">
                    <p class="title">Mennyiség:</p>
                    <p id="goldAmount" class="price"></p>
                </div>
                <div class="detail detailBtn">
                    <button class="buy stockBuyBtn" (click)="goldBuy()">
                        <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/buy.png':'assets/images/buyWhite.png'"
                            alt="Buy" class="btnIcon">
                        <p>Vétel</p>
                    </button>
                    <button class="sell" (click)="goldSell()">
                        <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/sell.png':'assets/images/sellWhite.png'"
                            alt="Sell" class="btnIcon">
                        <p>Eladás</p>
                    </button>
                </div>
            </div>
            <button class="infoBtn" (click)="goldInfo()">
                <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                    alt="Information" class="info">
            </button>
        </div>
        <div id="mine" class="stock cards">
            <img src="assets/images/mine.png" alt="Mine" class="icon">
            <div class="text">
                <h2>Bánya</h2>
                <div class="detail">
                    <p class="title">Vételár:</p>
                    <p id="minePrice" class="price"></p>
                </div>
                <div class="detail">
                    <p class="title">Mennyiség:</p>
                    <p id="mineAmount" class="price"></p>
                </div>
                <div class="detail detailBtn">
                    <button class="buy stockBuyBtn" (click)="mineBuy()">
                        <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/buy.png':'assets/images/buyWhite.png'"
                            alt="Buy" class="btnIcon">
                        <p>Vétel</p>
                    </button>
                    <button class="sell" (click)="mineSell()">
                        <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/sell.png':'assets/images/sellWhite.png'"
                            alt="Sell" class="btnIcon">
                        <p>Eladás</p>
                    </button>
                </div>
            </div>
            <button class="infoBtn" (click)="mineInfo()">
                <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                    alt="Information" class="info">
            </button>
        </div>
        <div id="chocolate" class="stock cards">
            <img src="assets/images/chocolate.png" alt="Chocolate" class="icon">
            <div class="text">
                <h2>Csoki</h2>
                <div class="detail">
                    <p class="title">Vételár:</p>
                    <p id="chocolatePrice" class="price"></p>
                </div>
                <div class="detail">
                    <p class="title">Mennyiség:</p>
                    <p id="chocolateAmount" class="price"></p>
                </div>
                <div class="detail detailBtn">
                    <button class="buy stockBuyBtn" (click)="chocolateBuy()">
                        <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/buy.png':'assets/images/buyWhite.png'"
                            alt="Buy" class="btnIcon">
                        <p>Vétel</p>
                    </button>
                    <button class="sell" (click)="chocolateSell()">
                        <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/sell.png':'assets/images/sellWhite.png'"
                            alt="Sell" class="btnIcon">
                        <p>Eladás</p>
                    </button>
                </div>
            </div>
            <button class="infoBtn" (click)="chocolateInfo()">
                <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                    alt="Information" class="info">
            </button>
        </div>
    </div>
</section>
<section id="accomodations">
    <div class="title">
        <h1>Bérlakás/Panzió</h1>
    </div>
    <div class="container">
        <div class="listContainer acList mobileList">
            <div id="flat" class="accomodation cards">
                <img src="assets/images/building.png" alt="Building" class="icon">
                <div class="text">
                    <h2>Bérlakás</h2>
                    <div class="detail">
                        <p class="title">Vételár:</p>
                        <p id="flatPrice" class="price"></p>
                        <p class="title">Max Hitel:</p>
                        <p id="flatDebt" class="price"></p>
                    </div>
                    <div class="detail">
                        <p class="title">Eladási ár:</p>
                        <p id="flatSell" class="price"></p>
                        <p class="title">Bérleti díj:</p>
                        <p id="flatRent" class="price"></p>
                    </div>
                    <div class="detail detailBtn">
                        <button class="buy" (click)="flatBuy()">
                            <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/buy.png':'assets/images/buyWhite.png'"
                                alt="Buy" class="btnIcon">
                            <p>Vétel</p>
                        </button>
                    </div>
                </div>
                <button class="infoBtn" (click)="flatInfo()">
                    <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                        alt="Information" class="info">
                </button>
            </div>
            <div *ngIf="showFlat" id="flatList" class="lists"></div>
        </div>
        <div class="listContainer acList mobileList">
            <div id="pansion" class="accomodation cards">
                <img src="assets/images/pansion.png" alt="Guest house" class="icon">
                <div class="text">
                    <h2>Panzió</h2>
                    <div class="detail">
                        <p class="title">Vételár:</p>
                        <p id="pansionPrice" class="price"></p>
                        <p class="title">Max Hitel:</p>
                        <p id="pansionDebt" class="price"></p>
                    </div>
                    <div class="detail">
                        <p class="title">Eladási ár:</p>
                        <p id="pansionSell" class="price"></p>
                        <p class="title">Hozam:</p>
                        <p id="pansionIncome" class="price"></p>
                    </div>
                    <div class="detail detailBtn">
                        <button class="buy" (click)="pansionBuy()">
                            <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/buy.png':'assets/images/buyWhite.png'"
                                alt="Buy" class="btnIcon">
                            <p>Vétel</p>
                        </button>
                    </div>
                </div>
                <button class="infoBtn" (click)="pansionInfo()">
                    <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                        alt="Information" class="info">
                </button>
            </div>
            <div *ngIf="showPansion" id="pansionList" class="lists"></div>
        </div>
    </div>
</section>
<section id="online">
    <div class="title">
        <h1>Online Üzlet</h1>
    </div>
    <div id="onlineContainer" class="container lists">
        <div class="online cards" id="basicOnline">
            <img src="assets/images/online.png" alt="Online Shop" class="icon">
            <div class="text onlineText">
                <h2>Alapítás</h2>
                <div class="detail">
                    <p class="title">Alapítási ár:</p>
                    <p id="onlinePrice" class="price"></p>
                    <button *ngIf="!mobile" id="onlineBuyBtn" class="buy" (click)="onlineBuy()">
                        <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/buy.png':'assets/images/buyWhite.png'"
                            alt="Buy" class="btnIcon">
                        <p>Alapítás</p>
                    </button>
                </div>
                <div class="detail detailBtn">
                    <button *ngIf="mobile" class="buy" (click)="onlineBuy()">
                        <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/buy.png':'assets/images/buyWhite.png'"
                            alt="Buy" class="btnIcon">
                        <p>Alapítás</p>
                    </button>
                </div>
            </div>
            <button class="infoBtn" (click)="onlineInfo()">
                <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                    alt="Information" class="info">
            </button>
        </div>
        <div id="levels" class="container">
            <div class="online onlineList cards" id="level1">
                <div class="text levelText">
                    <h2 class="level">1. szint</h2>
                    <div class="detail levelDetail">
                        <p class="title">Hozam:</p>
                        <p id="online1Income" class="price"></p>
                    </div>
                    <div class="detail levelDetail">
                        <p class="title">Eladási ár:</p>
                        <p id="online1Sell" class="price"></p>
                    </div>
                    <div class="detail levelDetail">
                        <p class="title">Mennyiség:</p>
                        <p id="online1Amount" class="price"></p>
                    </div>
                    <div class="detail levelDetail detailBtn">
                        <button class="sell" (click)="online1Sell()">
                            <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/sell.png':'assets/images/sellWhite.png'"
                                alt="Sell" class="btnIcon">
                            <p>Eladás</p>
                        </button>
                    </div>
                </div>
                <button class="infoBtn" (click)="level1Info()">
                    <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                        alt="Information" class="info">
                </button>
            </div>
            <div class="online onlineList cards" id="level2">
                <div class="text levelText">
                    <h2 class="level">2. szint</h2>
                    <div class="detail levelDetail">
                        <p class="title">Hozam:</p>
                        <p id="online2Income" class="price"></p>
                    </div>
                    <div class="detail levelDetail">
                        <p class="title">Eladási ár:</p>
                        <p id="online2Sell" class="price"></p>
                    </div>
                    <div class="detail levelDetail">
                        <p class="title">Mennyiség:</p>
                        <p id="online2Amount" class="price"></p>
                    </div>
                    <div class="detail levelDetail detailBtn">
                        <button class="sell" (click)="online2Sell()">
                            <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/sell.png':'assets/images/sellWhite.png'"
                                alt="Sell" class="btnIcon">
                            <p>Eladás</p>
                        </button>
                    </div>
                </div>
                <button class="infoBtn" (click)="level2Info()">
                    <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                        alt="Information" class="info">
                </button>
            </div>
            <div class="online onlineList cards" id="level3">
                <div class="text levelText">
                    <h2 class="level">3. szint</h2>
                    <div class="detail levelDetail">
                        <p class="title">Hozam:</p>
                        <p id="online3Income" class="price"></p>
                    </div>
                    <div class="detail levelDetail">
                        <p class="title">Eladási ár:</p>
                        <p id="online3Sell" class="price"></p>
                    </div>
                    <div class="detail levelDetail">
                        <p class="title">Mennyiség:</p>
                        <p id="online3Amount" class="price"></p>
                    </div>
                    <div class="detail levelDetail detailBtn">
                        <button class="sell" (click)="online3Sell()">
                            <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/sell.png':'assets/images/sellWhite.png'"
                                alt="Sell" class="btnIcon">
                            <p>Eladás</p>
                        </button>
                    </div>
                </div>
                <button class="infoBtn" (click)="level3Info()">
                    <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                        alt="Information" class="info">
                </button>
            </div>
            <div class="online onlineList cards" id="level4">
                <div class="text levelText">
                    <h2 class="level">4. szint</h2>
                    <div class="detail levelDetail">
                        <p class="title">Hozam:</p>
                        <p id="online4Income" class="price"></p>
                    </div>
                    <div class="detail levelDetail">
                        <p class="title">Eladási ár:</p>
                        <p id="online4Sell" class="price"></p>
                    </div>
                    <div class="detail levelDetail">
                        <p class="title">Mennyiség:</p>
                        <p id="online4Amount" class="price"></p>
                    </div>
                    <div class="detail levelDetail detailBtn">
                        <button class="sell" (click)="online4Sell()">
                            <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/sell.png':'assets/images/sellWhite.png'"
                                alt="Sell" class="btnIcon">
                            <p>Eladás</p>
                        </button>
                    </div>
                </div>
                <button class="infoBtn" (click)="level4Info()">
                    <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                        alt="Information" class="info">
                </button>
            </div>
            <div class="online onlineList cards" id="level5">
                <div class="text levelText">
                    <h2 class="level">5. szint</h2>
                    <div class="detail levelDetail">
                        <p class="title">Hozam:</p>
                        <p id="online5Income" class="price"></p>
                    </div>
                    <div class="detail levelDetail">
                        <p class="title">Eladási ár:</p>
                        <p id="online5Sell" class="price"></p>
                    </div>
                    <div class="detail levelDetail">
                        <p class="title">Mennyiség:</p>
                        <p id="online5Amount" class="price"></p>
                    </div>
                    <div class="detail levelDetail detailBtn">
                        <button class="sell" (click)="online5Sell()">
                            <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/sell.png':'assets/images/sellWhite.png'"
                                alt="Sell" class="btnIcon">
                            <p>Eladás</p>
                        </button>
                    </div>
                </div>
                <button class="infoBtn" (click)="level5Info()">
                    <img [src]="themeService.getTheme()() === 'light' ? 'assets/images/info.png' : 'assets/images/infoWhite.png'"
                        alt="Information" class="info">
                </button>
            </div>
        </div>
    </div>
</section>
<div id="cash">
    <div id="wallet">
        <p class="title income">Cash:</p>
        <p id="money" class="income"></p>
    </div>
</div>