div {
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

section {
    scroll-margin-top: 60;
    scroll-margin-bottom: 40;
    background-color: var(--bg-form);
    justify-items: center;
    padding: 0;
    border-radius: 20;
    margin: 15px;
    margin-top: 35px;
    border: none;
}

p {
    color: var(--form);
    font-size: 18px;
    margin: 2px;
}

h1 {
    color: var(--form);
    height: fit-content;
    width: fit-content;
    text-align: center;
}

h2 {
    color: var(--form);
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin: 0;
    margin-top: 10;
    margin-bottom: 10;
    font-size: 28px;
}

h3 {
    color: var(--form);
    font-size: 28px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin: 0;
}

label {
    color: var(--form);
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bank {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-color: var(--border-form);
    border-radius: 20;
    margin: 10;
    padding: 12px;
}

.devisa {
    background-color: var(--bg-devisa);
}

.bankIcon {
    height: 100;
    margin-top: 10;
}

.bankLbl {
    margin-top: 10;
    margin-bottom: 10;
    font-size: 20;
    width: 80%;
}

.bankInp {
    background-color: var(--bg-input);
    color: var(--form);
    margin-bottom: 10;
    font-size: 24px;
    text-align: center;
    width: 80%;
    border-radius: 20;
    border: none;
    padding: 5px;
}

.save {
    display: flex;
    background-color: var(--bg-save-btn);
    color: var(--form);
    width: fit-content;
    height: fit-content;
    align-items: center;
    border: none;
    border-radius: 25px;
    font-size: 20;
    padding: 15px;
    padding-left: 20;
    padding-right: 20;
    margin-top: 10;
}

.save:hover {
    background-color: var(--bg-save-btn-hover);
    cursor: pointer;
}

.money {
    color: var(--money);
    font-size: 30;
    font-weight: bold;
}

.level {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    padding: 15px;
    width: 98%;
}

.stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    border-color: var(--border-form);
    border-radius: 20;
    margin: 10;
    padding: 12px;
}

.accomodation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-color: var(--border-form);
    border-radius: 20;
    margin: 10;
    padding: 12px;
}

.online {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-online);
    width: 100%;
    border-color: var(--border-form);
    border-radius: 20;
    margin-top: 10;
    padding: 12px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acList {
    width: 47%;
}

.onlineList {
    width: 18%
}

.lists {
    flex-direction: column;
    align-items: center;
}

.icon {
    height: 100;
    align-self: center;
}

.info {
    height: 35px;
}

.infoBtn {
    align-self: center;
    background-color: transparent;
    color: var(--button);
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 30;
    padding: 7px;
    padding-bottom: 3px;
}

.infoBtn:hover {
    background-color: var(--bg-back-hover);
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 55%;
    height: fit-content;
}

.levelText {
    width: 85%;
    align-items: center;
    padding-left: 10;
}

.detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
}

.title {
    font-weight: bold;
    font-size: 20;
}

.onlineText {
    width: 27%;
}

.price {
    margin-top: 4px;
}

.levelDetail {
    width: 75%;
}

.buy {
    display: flex;
    background-color: var(--bg-buy-btn);
    color: var(--form);
    width: fit-content;
    height: fit-content;
    align-items: center;
    border: none;
    border-radius: 25px;
    font-size: 20;
    padding: 15px;
    padding-left: 20;
    padding-right: 20;
    margin-top: 10;
}

.buy:hover {
    background-color: var(--bg-buy-btn-hover);
    cursor: pointer;
}

.sell {
    display: flex;
    background-color: var(--bg-sell-btn);
    color: var(--form);
    width: fit-content;
    height: fit-content;
    align-items: center;
    border: none;
    border-radius: 25px;
    font-size: 20;
    padding: 15px;
    padding-left: 20;
    padding-right: 20;
    margin-top: 10;
}

.sell:hover {
    background-color: var(--bg-sell-btn-hover);
    cursor: pointer;
}

.btnIcon {
    height: 25px;
    margin-right: 10;
}

.detailBtn {
    justify-content: center;
}

.stockBuyBtn {
    margin-right: 40;
}

.income {
    font-size: 32px;
    margin-bottom: 10;
}

.modal {
    display: flex;
    position: fixed;
    background-color: var(--bg-modal);
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    padding: 25px;
    margin: 0;
}

.modalContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-modal-container);
    border-radius: 20;
    border: solid 5px;
    width: 40%;
    height: fit-content;
    max-height: 80vh;
    padding: 0;
    overflow: auto;
}

.modalHeader {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.modalFooter {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.modalDetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    padding-top: 10;
    padding-bottom: 10;
    border-bottom: solid 2px var(--form);
}

.modalMoreDetail {
    justify-content: center;
    border: none;
}

.modalDetailContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.modalMoreDetailContainer {
    justify-content: space-between;
    padding-left: 10;
    padding-right: 10;
}

.dice {
    width: 15%;
}

.gold {
    width: 25%;
}

.modalPrice {
    width: 60%;
}

.modalMorePrice {
    width: 60%;
}

.modalIcon {
    height: 50;
}

.bgGold {
    background-color: var(--bg-gold);
}

.borderGold {
    border-color: var(--bg-gold);
}

.bgMine {
    background-color: var(--bg-mine);
}

.borderMine {
    border-color: var(--bg-mine);
}

.bgChocolate {
    background-color: var(--bg-chocolate);
}

.borderChocolate {
    border-color: var(--bg-chocolate);
}

.bgOnline {
    background-color: var(--bg-online);
}

.borderOnline {
    border-color: var(--bg-online);
}

.bottomModalDetail {
    border: none;
}

.modalGoldPrice {
    width: 85%;
}

.close {
    color: var(--form);
    background-color: var(--bg-modal-container);
    border: none;
    border-radius: 20;
    font-size: 32px;
    padding: 7px;
    padding-left: 20;
    padding-right: 20;
    margin-top: 10;
    margin-bottom: 5px;
}

.close:hover {
    background-color: var(--close-btn-hover);
    cursor: pointer;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, var(--bg-gradiant-primary), var(--bg-gradiant-secondary));
    position: sticky;
    top: 0;
    overflow: hidden;
    align-self: left;
    margin: 0;
    width: 99.7%;
    padding: 0;
    padding-bottom: 5px;
}

#cash {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, var(--bg-gradiant-primary), var(--bg-gradiant-secondary));
    position: sticky;
    bottom: 0;
    overflow: hidden;
    align-self: left;
    margin: 0;
    width: 99.7%;
    padding: 0;
    padding-top: 5px;
}

#roll {
    background-color: var(--bg-sp-button);
    color: var(--button);
    font-size: 32px;
    border: none;
    border-radius: 20;
    padding-left: 20;
    padding-right: 20;
    margin-top: 5px;
}

#roll:hover {
    background-color: var(--bg-sp-button-hover);
    cursor: pointer;
}

#bankCard {
    background-color: var(--bg-bank);
}

#gold {
    background-color: var(--bg-gold);
}

#mine {
    background-color: var(--bg-mine);
}

#chocolate {
    background-color: var(--bg-chocolate);
}

#flat {
    background-color: var(--bg-flat);
}

#flatList {
    margin-top: -17px;
    background-color: var(--bg-list-flat);
    width: 99.5%;
    border-radius: 20;
    padding-top: 10;
}

#pansion {
    background-color: var(--bg-pansion);
}

#pansionList {
    margin-top: -17px;
    background-color: var(--bg-list-pansion);
    width: 99.5%;
    border-radius: 20;
    padding-top: 10;
}

#onlineBasicTitle {
    margin-bottom: 20;
}

#basicOnline {
    width: 98%;
    margin-top: 0;
    margin-bottom: 0;
}

#onlineTitle {
    font-size: 26px;
}

#onlinePrice {
    font-size: 24px;
}

#backBtn {
    background-color: transparent;
    color: var(--button);
    font-size: 28px;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 30;
    padding: 7px;
    margin-top: 5px;
}

#backBtn:hover {
    background-color: var(--bg-back-hover);
    cursor: pointer;
}

#onlineBuyBtn {
    margin: 0;
}

#wallet {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 10;
}

@media (max-width: 1200) {
    p {
        font-size: 12px;
    }

    h2 {
        font-size: 20;
    }

    h3 {
        font-size: 20;
    }

    .bankLbl {
        font-size: 16px;
    }

    .bankInp {
        font-size: 18px;
    }

    .money {
        font-size: 22px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-content: center;
        padding: 15px;
        width: 90%;
        margin: 10;
    }

    .cards {
        width: 98%;
        border-color: var(--border-form);
        border-radius: 20;
        margin: 10
    }

    .mobileList {
        width: 100%;
    }

    .icon {
        height: 50;
    }

    .info {
        height: 20;
    }

    .title {
        font-size: 14px;
    }

    .onlineText {
        width: 55%;
    }

    .income {
        font-size: 20;
    }

    .stockBuyBtn {
        margin-right: 0;
    }

    .modal {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .modalContainer {
        width: 85%;
    }

    .modalMoreDetailContainer {
        padding-left: 5px;
        padding-right: 5px;
    }

    .modalMorePrice {
        width: 67%;
    }

    .modalText {
        font-size: 16px;
    }

    .modalIcon {
        height: 30;
    }

    .close {
        font-size: 20;
        padding: 10;
    }

    #flatList {
        width: 96%;
    }

    #pansionList {
        width: 96%;
    }

    #onlineTitle {
        font-size: 14px;
    }

    #onlinePrice {
        font-size: 12px;
    }

    #backBtn {
        font-size: 20;
        padding: 0;
        margin-left: -8px;
    }

    #roll {
        font-size: 20;
        padding: 10;
        margin: 0;
    }

    #cash {
        justify-content: center;
    }

    #wallet {
        width: 60%;
    }
}