<div id="navbar">
    <button id="backBtn" (click)="onBack()">〈 Back</button>
</div>
<section id="stocks">
    <div id="stockContainer">
        <div id="gold"></div>
        <div id="mine"></div>
        <div id="chocolate"></div>
    </div>
</section>
<section id="accomodations">
    <div id="acContainer">
        <div id="flat"></div>
        <div id="pansion"></div>
    </div>
</section>
<section id="online">
    <div id="onlineContainer">
        <div class="online" id="level1"></div>
        <div class="online" id="level2"></div>
        <div class="online" id="level3"></div>
        <div class="online" id="level4"></div>
        <div class="online" id="level5"></div>
    </div>
</section>