div {
    width: fit-content;
    height: fit-content;
    padding: 5px
}

section {
    scroll-margin-top: 60px;
    scroll-margin-bottom: 40px;
    background-color: var(--bg-form);
    justify-items: center;
    padding: 0;
    border-radius: 20px;
    margin: 15px 15px 35px;
    border: none
}

p {
    color: var(--form);
    font-size: 18px;
    margin: 2px
}

h1,
h2,
h3 {
    color: var(--form);
    height: fit-content;
    width: fit-content;
    text-align: center
}

h2 {
    margin: 10px 0;
    font-size: 28px
}

h3 {
    margin: 0;
    font-size: 28px
}

label {
    color: var(--form);
    text-align: center
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.bank {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-color: var(--border-form);
    border-radius: 20px;
    margin: 10px;
    padding: 12px
}

.devisa {
    background-color: var(--bg-devisa)
}

.bankIcon {
    height: 100px;
    margin-top: 10px
}

.bankLbl {
    margin: 10px 0;
    font-size: 20px;
    width: 80%
}

.bankInp {
    background-color: var(--bg-input);
    color: var(--form);
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    width: 80%;
    border-radius: 20px;
    border: none;
    padding: 5px
}

.save,
.buy,
.sell {
    display: flex;
    background-color: var(--bg-save-btn);
    color: var(--form);
    width: fit-content;
    height: fit-content;
    align-items: center;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    padding: 15px 20px;
    margin-top: 10px
}

.save:hover,
.buy:hover,
.sell:hover,
.infoBtn:hover,
.close:hover,
#roll:hover,
#backBtn:hover {
    cursor: pointer
}

.save:hover {
    background-color: var(--bg-save-btn-hover)
}

.buy {
    background-color: var(--bg-buy-btn)
}

.buy:hover {
    background-color: var(--bg-buy-btn-hover)
}

.sell {
    background-color: var(--bg-sell-btn)
}

.sell:hover {
    background-color: var(--bg-sell-btn-hover)
}

.money {
    color: var(--money);
    font-size: 30px;
    font-weight: 700
}

.level {
    margin: 0;
    padding: 0
}

.container,
.flatcard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    padding: 15px;
    width: 98%
}

.stock,
.accomodation,
.online {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-color: var(--border-form);
    border-radius: 20px;
    margin: 0;
    padding: 12px
}

.stock {
    width: 30%
}

.accomodation,
.online {
    width: 100%
}

.online {
    background-color: var(--bg-online);
    margin-top: 10px
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center
}

.acList {
    width: 47%
}

.onlineList {
    width: 18%
}

.lists {
    flex-direction: column;
    align-items: center
}

.icon {
    height: 100px;
    align-self: center
}

.info {
    height: 35px
}

.infoBtn {
    align-self: center;
    background-color: transparent;
    color: var(--button);
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 30px;
    padding: 7px 7px 3px
}

.infoBtn:hover {
    background-color: var(--bg-back-hover)
}

.text,
.flatText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 55%;
    height: fit-content
}

.levelText {
    width: 85%;
    align-items: center;
    padding-left: 10px
}

.detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%
}

.title {
    font-weight: 700;
    font-size: 20px
}

.onlineText {
    width: 27%
}

.price {
    margin-top: 4px
}

.levelDetail {
    width: 75%
}

.btnIcon {
    height: 25px;
    margin-right: 10px
}

.detailBtn {
    justify-content: center
}

.stockBuyBtn {
    margin-right: 40px
}

.income {
    font-size: 32px;
    margin-bottom: 10px
}

.modal {
    display: flex;
    position: fixed;
    background-color: var(--bg-modal);
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    padding: 25px;
    margin: 0
}

.modalContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-modal-container);
    border-radius: 20px;
    border: solid 5px;
    width: 40%;
    height: fit-content;
    max-height: 80vh;
    padding: 0;
    overflow: auto
}

.modalHeader,
.modalFooter {
    display: flex;
    justify-content: center;
    position: sticky;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.modalHeader {
    top: 0
}

.modalFooter {
    bottom: 0
}

.modalDetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: solid 2px var(--form)
}

.modalMoreDetail {
    justify-content: center;
    border: none
}

.modalDetailContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0
}

.modalMoreDetailContainer {
    justify-content: space-between;
    padding: 0 10px
}

.dice {
    width: 15%
}

.gold {
    width: 18%
}

.maxDebt {
    width: 100%;
    margin-bottom: 10px
}

.leftMargin {
    margin-left: 30px
}

.modalPrice {
    width: 67%
}

.modalIcon {
    height: 50px
}

.bgGold {
    background-color: var(--bg-gold)
}

.borderGold {
    border-color: var(--bg-gold)
}

.bgMine {
    background-color: var(--bg-mine)
}

.borderMine {
    border-color: var(--bg-mine)
}

.bgChocolate {
    background-color: var(--bg-chocolate)
}

.borderChocolate {
    border-color: var(--bg-chocolate)
}

.bgFlat {
    background-color: var(--bg-flat)
}

.borderFlat {
    border-color: var(--bg-flat)
}

.bgPansion {
    background-color: var(--bg-pansion)
}

.borderPansion {
    border-color: var(--bg-pansion)
}

.bgOnline {
    background-color: var(--bg-online)
}

.borderOnline {
    border-color: var(--bg-online)
}

.bottomModalDetail {
    border: none
}

.modalGoldPrice {
    width: 85%
}

.close {
    color: var(--form);
    background-color: var(--bg-modal-container);
    border: none;
    border-radius: 20px;
    font-size: 32px;
    padding: 7px 20px;
    margin: 10px 0 5px
}

.close:hover {
    background-color: var(--close-btn-hover)
}

.accomodationCard {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: fit-content;
    justify-content: space-between;
    justify-self: center;
    width: 95%;
    padding: 5px;
    margin: 6px;
}

.flatCard {
    background-color: var(--bg-flat-list)
}

.listIcon {
    display: flex;
    width: 15%;
    height: fit-content;
}

.accomodationText {
    width: 40%;
}

.listBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 30%;
    height: fit-content;
}

.accomodationCardBtn {
    display: flex;
    align-items: center;
    color: var(--form);
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 25px;
    padding: 15px;
}

.debtBtn {
    background-color: var(--bg-debt-btn);
}

.debtBtn:hover {
    background-color: var(--bg-debt-btn-hover);
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, var(--bg-gradiant-primary), var(--bg-gradiant-secondary));
    position: sticky;
    top: 0;
    overflow: hidden;
    align-self: left;
    margin: 0;
    width: 99.7%;
    padding: 0 0 5px
}

#cash {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, var(--bg-gradiant-primary), var(--bg-gradiant-secondary));
    position: sticky;
    bottom: 0;
    overflow: hidden;
    align-self: left;
    margin: 0;
    width: 99.7%;
    padding: 5px 0 0
}

#roll {
    background-color: var(--bg-sp-button);
    color: var(--button);
    font-size: 32px;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    margin-top: 5px
}

#roll:hover {
    background-color: var(--bg-sp-button-hover)
}

#bankCard {
    background-color: var(--bg-bank)
}

#gold {
    background-color: var(--bg-gold)
}

#mine {
    background-color: var(--bg-mine)
}

#chocolate {
    background-color: var(--bg-chocolate)
}

#flat {
    background-color: var(--bg-flat)
}

#flatList {
    margin-top: -7px;
    background-color: var(--bg-list-flat);
    width: 99.5%;
    border-radius: 20px;
    padding-top: 10px
}

#pansion {
    background-color: var(--bg-pansion)
}

#pansionList {
    margin-top: -7px;
    background-color: var(--bg-list-pansion);
    width: 99.5%;
    border-radius: 20px;
    padding-top: 10px
}

#onlineBasicTitle {
    margin-bottom: 20px
}

#basicOnline {
    width: 98%;
    margin: 0
}

#onlineTitle {
    font-size: 26px
}

#onlinePrice {
    font-size: 24px
}

#backBtn {
    background-color: transparent;
    color: var(--button);
    font-size: 28px;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 30px;
    padding: 7px;
    margin-top: 5px
}

#backBtn:hover {
    background-color: var(--bg-back-hover)
}

#onlineBuyBtn {
    margin: 0
}

#wallet {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 10px
}

@media (max-width:1200px) {
    p {
        font-size: 12px
    }

    h2 {
        font-size: 20px
    }

    h3 {
        font-size: 20px
    }

    .bankLbl {
        font-size: 16px
    }

    .bankInp {
        font-size: 18px
    }

    .money {
        font-size: 22px
    }

    .container,
    .accomodationCard {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-content: center;
        padding: 15px;
        width: 90%;
        margin: 10px
    }

    .cards {
        width: 98%;
        border-color: var(--border-form);
        border-radius: 20px;
        margin: 10px
    }

    .mobileList {
        width: 100%
    }

    .icon {
        height: 50px
    }

    .btnIcon {
        height: 20px;
        margin-right: 5px
    }

    .info {
        height: 20px
    }

    .title {
        font-size: 14px
    }

    .onlineText {
        width: 55%
    }

    .income {
        font-size: 20px
    }

    .stockBuyBtn {
        margin-right: 0
    }

    .modal {
        width: 100%;
        height: 100%;
        padding: 0
    }

    .modalContainer {
        width: 85%
    }

    .modalMoreDetailContainer {
        padding: 0 5px
    }

    .modalMorePrice {
        width: 67%
    }

    .modalText {
        font-size: 16px
    }

    .modalIcon {
        height: 30px
    }

    .close {
        font-size: 20px;
        padding: 10px
    }

    .gold {
        width: 25%
    }

    .accomodationCard {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
    }

    .listIcon {
        width: 15%;
        height: fit-content;
    }

    .accomodationText {
        width: 65%;
        margin: 10px
    }

    .listBtn {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .accomodationCardBtn {
        font-size: 12px;
    }

    .modalPrice {
        width: 60%;
    }

    #flatList,
    #pansionList {
        width: 96%;
        margin-top: -17px;
    }

    #onlineTitle {
        font-size: 14px
    }

    #onlinePrice {
        font-size: 12px
    }

    #backBtn {
        font-size: 20px;
        padding: 0;
        margin-left: -8px
    }

    #roll {
        font-size: 20px;
        padding: 10px;
        margin: 0
    }

    #cash {
        justify-content: center
    }

    #wallet {
        width: 60%
    }
}