* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(to right, var(--bg-gradiant-primary), var(--bg-gradiant-secondary));
}

:root {
    --bg-gradiant-primary: #00afe9;
    --bg-gradiant-secondary: #004d66;
    --bg-sp-button: #0099cc;
    --button: black;
    --bg-sp-button-hover: #0099cc88;
    --bg-nav: #004d6633;
    --border-nav: #0000001f;
    --bg-form: #ccf2ffcc;
    --border-form: #00000033;
    --bg-input: #0099cc;
    --input: black;
    --bg-ds-primary: #64016433;
    --bg-ds-secondary: darkblue;
    --bg-option: #0099ccaa;
    --bg-back-hover: #ffffff55;
}

[data-theme="dark"] {
    --bg-gradiant-primary: darkblue;
    --bg-gradiant-secondary: black;
    --bg-sp-button: darkblue;
    --button: white;
    --bg-sp-button-hover: #00008b88;
    --bg-nav: #00000033;
    --border-nav: #0000001f;
    --bg-form: #191919aa;
    --border-form: #00000033;
    --form: white;
    --bg-input: darkblue;
    --input: white;
    --bg-ds-primary: #add8e64f;
    --bg-ds-secondary: lightblue;
    --bg-option: #00008baa;
    --bg-back-hover: #ffffff33;
}